

.skill{
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 9rem 0rem;
    & h2{
        font-size: 4em;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0.3em 0em;
        letter-spacing: 0.05em;
    }
    & p{
        font-size: 1.7em;
        opacity: 0.9;
    }
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 6em;
    margin-top: 7em;
    padding: 0em 3em;
}


.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & img{
        width: 13em;
        height: 13em;
        object-fit: cover;
    }
    & h3{
        font-size: 3em;
        font-weight: 600;
        text-transform: capitalize;
    }
}


/* ===== RESPONSIVE ===== */

@media (width < 1420px) {
    .skill{
        font-size: 9.5px;
    }
  }
  @media (width < 1320px) {
    .skill{
        font-size: 9px;
    }
  }
  @media (width < 1220px) {
    .skill{
        font-size: 8.5px;
    }
  }
  @media (width < 1120px) {
    .skill{
        font-size: 8px;
    }
  }
  @media (width < 1020px) {
    .skill{
        font-size: 7.5px;
    }
  }
  @media (width < 920px) {
    .skill{
        font-size: 7px;
    }
  }
  @media (width < 820px) {
    .skill{
        font-size: 6.5px;
    }
  }
  @media (width < 720px) {
    .skill{
        font-size: 6px;
    }
  }
  @media (width < 620px) {
    .skill{
        font-size: 5.5px;
    }
  }
  @media (width < 520px) {
    .skill{
        font-size: 5px;
    }
  }
  @media (width < 420px) {
    .skill{
        font-size: 4.5px;
    }
  }
  @media (width < 320px) {
    .skill{
        font-size: 4px;
    }
  }